<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <title>科中管理系统</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body style="margin:0px;background: linear-gradient(mediumpurple,dodgerblue)">
        {{{body}}}
    </body>
</html>