<div class="mainBox">
    <form method="post">
        <ul>
            <li>
                <a>用户名</a>
                <input type="text" placeholder="邮箱" name="username">
            </li>
            <li>
                <a>密码</a>
                <input type="password" placeholder="密码" name="password">
            </li>
        </ul>
        <input type="submit" value="登陆">
    </form>
</div>